# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=fastapi_study

# JWT配置
JWT_SECRET_KEY=your_jwt_secret_key

# DeepSeek LLM API
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_API_BASE=https://api.deepseek.com/v1


# 百炼平台 API (向量化模型)
BAILIAN_API_KEY=your_bailian_api_key
BAILIAN_API_ENDPOINT=https://dashscope.aliyuncs.com/compatible-mode/v1

# Milvus 向量数据库
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_DB=Four_classic
